In [1]:
import pandas as pd

In [2]:
#excel_file_path1 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/2018_trackman.xlsx'
#excel_file_path2 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/2019_trackman.xlsx'
excel_file_path3 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/球種回填(2018~2020).xlsx'
excel_file_path4 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/2021_trackman.xlsx'
excel_file_path5 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/2022_trackman.xlsx'
excel_file_path6 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/2023_trackman1.xlsx'
excel_file_path7 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/Trackman/2023_trackman2.xlsx'
excel_file_path8 = 'C:/Users/ASUS/OneDrive/Documents/中信兄弟/程式碼/Pitch Value/non_track_RE.xlsx'
sheet_name = 'Sheet1'

In [9]:
#track_2018 = pd.read_excel(excel_file_path1, sheet_name=sheet_name)
#track_2019 = pd.read_excel(excel_file_path2, sheet_name=sheet_name)
track_18_20 = pd.read_excel(excel_file_path3, sheet_name=sheet_name)
track_2021 = pd.read_excel(excel_file_path4, sheet_name=sheet_name)
track_2022 = pd.read_excel(excel_file_path5, sheet_name=sheet_name)
track_2023_1 = pd.read_excel(excel_file_path6, sheet_name=sheet_name)
track_2023_2 = pd.read_excel(excel_file_path7, sheet_name=sheet_name)
non_track = pd.read_excel(excel_file_path8, sheet_name=sheet_name)

In [10]:
col=['Date','球種','PlayResult','RunsScored','Outs','Balls','Strikes','Inning']

In [11]:
#track_2018= track_2018[col]
#track_2019= track_2019[col]
track_18_20= track_18_20[col]
track_2021= track_2021[col]
track_2022= track_2022[col]
track_2023_1= track_2023_1[col]
track_2023_2= track_2023_2[col]
non_track=non_track[col]

In [6]:
#data1 = pd.concat([track_2019, track_2018], ignore_index=True)
#data2 = pd.concat([data1, track_2020], ignore_index=True)
data3 = pd.concat([track_18_20, track_2021], ignore_index=True)
data4 = pd.concat([data3, track_2022], ignore_index=True)
data5 = pd.concat([data4, track_2023_1], ignore_index=True)
data6 = pd.concat([data5, track_2023_2], ignore_index=True)
data = pd.concat([data6, non_track], ignore_index=True)

In [7]:
#Notes_items = data['Notes'].unique()
#Notes_items

array([nan, 800, '1b', '1b3b', '3b', '2b', '1b2b', '1b2b3b', '2b3b',
       '1be', '\n1b2b', '\n2b3b', '1b\n', '23b', '123b', '13b', '12b',
       '\n12b'], dtype=object)

In [8]:
#data = data.dropna()
#data = data[data['Notes'] != '????']
#data = data[data['Notes'] != 'Batter: #4']

In [9]:
name_mapping = {
    '2b+': '2b',
    '1be': '1b',
    '1b2b': '1b2b',
    '1b2b3b\r\n': '1b2b3b',
    '\n2b3b': '2b3b',
    '1b\n': '1b',
    '1b2b3b\n': '1b2b3b',
    '23b': '2b3b',
    '123b': '1b2b3b',
    '13b': '1b3b',
    '12b': '1b2b',
    '\n12b': '1b2b',
    '1b': '1b', 
    '1b3b': '1b3b', 
    '3b': '3b', 
    '2b': '2b', 
    '1b2b': '1b2b', 
    '1b2b3b': '1b2b3b', 
    '2b3b': '2b3b',

    
}

# 新增一列"球員"，根据"Pitcher"列的值匹配中文名
#data['壘包狀態'] = data['Notes'].map(name_mapping)

In [10]:
data

,Date,球種,AutoPitchType,PlayResult,RunsScored,Outs,Balls,Strikes,Inning,Top/Bottom,Notes,壘包狀態
3277,5/17/2019,Curveball,Curveball,Undefined,0,2,2,2,2,Top,800,NaN
7899,7/19/2019,Fastball,Fastball,Undefined,0,1,1,1,8,Bottom,800,NaN
19966,8/3/2018,Fastball,Fastball,Undefined,0,0,0,0,1,Top,1b,1b
19968,8/3/2018,Cutter,Slider,Undefined,0,1,0,0,1,Top,1b,1b
19969,8/3/2018,Fastball,Fastball,Undefined,0,1,1,0,1,Top,1b,1b
...,...,...,...,...,...,...,...,...,...,...,...,...
97120,2023/10/9,Slider,Slider,Out,0,1,1,1,8,Bottom,2b,2b
97121,2023/10/9,Slider,Slider,Undefined,0,2,0,0,8,Bottom,2b,2b
97122,2023/10/9,Fastball,Sinker,Undefined,0,2,0,1,8,Bottom,2b,2b
97123,2023/10/9,Slider,Slider,Out,0,2,1,1,8,Bottom,2b,2b
97132,2023/10/9,Slider,Slider,Out,0,2,0,0,9,Top,1b,1b

In [11]:
base_items = data['壘包狀態'].unique()
base_items

array([nan, '1b', '1b3b', '3b', '2b', '1b2b', '1b2b3b', '2b3b'],
      dtype=object)

In [15]:
PitchType_items =data['球種'].unique()
PitchType_items

array(['Curveball', 'Fastball', 'Cutter', 'Slider', 'ChangeUp',
       'Splitter', 'Sinker', 'TwoSeamFastBall'], dtype=object)

In [14]:
#TaggedPitchType_items = track_2023_2['TaggedPitchType'].unique()
#TaggedPitchType_items

In [ ]:
data = data.dropna()
data = data[data['AutoPitchType'] != 'Undefined']

In [ ]:
data.AutoPitchType.value_counts(dropna=False)

In [ ]:
#data.fillna(0, inplace=True)

In [16]:
result = data.groupby(['球種', 'Outs', 'Balls', 'Strikes']).agg({'RunsScored': ['count', 'sum']})
result

                                   RunsScored
                                        count sum
球種              Outs Balls Strikes
ChangeUp        0    0     0              160   8
                           1              100   3
                           2               40   0
                     1     0               72   5
                           1              100  12
...                                       ...  ..
TwoSeamFastBall 2    2     0                3   0
                           1                1   0
                           2                2   0
                     3     1                2   0
                           2                3   0

[280 rows x 2 columns]

In [17]:
result.reset_index(inplace=True)

In [18]:
result

                  球種 Outs Balls Strikes RunsScored
                                             count sum
0           ChangeUp    0     0       0        160   8
1           ChangeUp    0     0       1        100   3
2           ChangeUp    0     0       2         40   0
3           ChangeUp    0     1       0         72   5
4           ChangeUp    0     1       1        100  12
..               ...  ...   ...     ...        ...  ..
275  TwoSeamFastBall    2     2       0          3   0
276  TwoSeamFastBall    2     2       1          1   0
277  TwoSeamFastBall    2     2       2          2   0
278  TwoSeamFastBall    2     3       1          2   0
279  TwoSeamFastBall    2     3       2          3   0

[280 rows x 6 columns]

In [24]:
result['Expected_Runs']=result['RunsScored']['sum']/result['RunsScored']['count']
result

                  球種 Outs Balls Strikes RunsScored     Expected_Runs
                                             count sum
0           ChangeUp    0     0       0        160   8      0.050000
1           ChangeUp    0     0       1        100   3      0.030000
2           ChangeUp    0     0       2         40   0      0.000000
3           ChangeUp    0     1       0         72   5      0.069444
4           ChangeUp    0     1       1        100  12      0.120000
..               ...  ...   ...     ...        ...  ..           ...
275  TwoSeamFastBall    2     2       0          3   0      0.000000
276  TwoSeamFastBall    2     2       1          1   0      0.000000
277  TwoSeamFastBall    2     2       2          2   0      0.000000
278  TwoSeamFastBall    2     3       1          2   0      0.000000
279  TwoSeamFastBall    2     3       2          3   0      0.000000

[280 rows x 7 columns]

In [25]:
#result.to_excel('各球種球數出局數下的得分期望值.xlsx', index=True)

In [21]:
def get_expected_runs(row):
    auto_pitch_type = row["球種"]
    outs = row["Outs"]
    balls = row["Balls"]
    strikes = row["Strikes"]
    
    matching_row = result[(result["球種"] == auto_pitch_type) & 
                          (result["Outs"] == outs) & 
                          (result["Balls"] == balls) & 
                          (result["Strikes"] == strikes)]
    
    if not matching_row.empty:
        return matching_row.iloc[0]["Expected_Runs"]
    else:
        return None

data["Expected_Runs"] = data.apply(get_expected_runs, axis=1)

# 打印结果
data

,Date,球種,AutoPitchType,PlayResult,RunsScored,Outs,Balls,Strikes,Inning,Top/Bottom,Notes,壘包狀態,Expected_Runs
3277,5/17/2019,Curveball,Curveball,Undefined,0,2,2,2,2,Top,800,NaN,0.000000
7899,7/19/2019,Fastball,Fastball,Undefined,0,1,1,1,8,Bottom,800,NaN,0.057426
19966,8/3/2018,Fastball,Fastball,Undefined,0,0,0,0,1,Top,1b,1b,0.021891
19968,8/3/2018,Cutter,Slider,Undefined,0,1,0,0,1,Top,1b,1b,0.016949
19969,8/3/2018,Fastball,Fastball,Undefined,0,1,1,0,1,Top,1b,1b,0.070492
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97120,2023/10/9,Slider,Slider,Out,0,1,1,1,8,Bottom,2b,2b,0.075000
97121,2023/10/9,Slider,Slider,Undefined,0,2,0,0,8,Bottom,2b,2b,0.038309
97122,2023/10/9,Fastball,Sinker,Undefined,0,2,0,1,8,Bottom,2b,2b,0.052506
97123,2023/10/9,Slider,Slider,Out,0,2,1,1,8,Bottom,2b,2b,0.087838
97132,2023/10/9,Slider,Slider,Out,0,2,0,0,9,Top,1b,1b,0.038309

In [ ]:
#data.to_excel('data.xlsx', index=True)